<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
  <title>Tentang Idris</title>
</head>

<body class="w-100 h-100 bg-dark" style="background-image: url('https://image.ibb.co/hrjjRp/bata.jpg');">
  <div> {%include 'Nav.html'%} </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 order-2 order-md-1">
          <img class="img-fluid left bg" src="https://image.ibb.co/bwkG6p/uibosku.png" width="400"> </div>
        <div class="col-md-4 order-1 order-md-2" style="background-image: url('https://image.ibb.co/citQz9/Rectangle_2.png');">
          <h3 class="text-light">About me</h3>
          <p class="my-3 w-50 text-light">Saya Orangnya sangat berkerja keras untuk menggapai impian saya saya orang mudah bersosialisasi.dan punya rasa kepemimpinan Saya belajar dengan tekun agar suatu saat saya bisa membanggakan kedua orang tua saya.Hobi saya adalah Berolahraga,ngoding,dl&nbsp;</p>
        </div>
        <div class="col-md-4" style="background-image: url('https://image.ibb.co/mxmHCU/Rectangle_1.png');">
          <p class="text-light">
            <br>PERSONAL INFORMATION
            <br>
            <br>Nama ; Idris Yoga Pratama&nbsp;
            <br>
            <br>TTG : Jakarta,23 September 1999 &nbsp;
            <br>
            <br>Email : idrisyoga23@gmail.com &nbsp;
            <br>
            <br>Study ; Universitas Indonesia</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>