<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="theme.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
  <title>Home</title>
</head>

<body>
  <div> {%include 'Nav.html'%} </div>
  <div class="py-5 text-center w-100 h-100" style="background-image: url(&quot;https://image.ibb.co/gc6g6p/dunia.jpg&quot;); background-size: cover;">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-white">WELCOME</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <img src="https://image.ibb.co/eyomP9/IMG_0260.png" width="200" class="Foto depan">
          <h1 class="text-white">Belajar hal baru biar hasilnya gak gitu-gitu aja</h1>
          <a href="/Timeforu" class="btn btn-lg btn-primary mx-1">Buat Jadwal Kalian di Sini</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>