<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Hello, world!</title>
</head>

<body style="	box-shadow: 0px 0px 4px  black;">
  <div class="container-fluid d-flex justify-content-between border-bottom border-info">
    <div class="p-3">
      <nav class="navbar-expand navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#">Donate Now</a></li>
        </ul>
      </nav>
    </div>
    <div class="p-2">
      <img class="navbar-brand" src="#" width="50" height="60">
    </div>
    <div class="p-3">
      <nav class="navbar-expand navbar-light">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="nav-item mr-2"><a class="nav-link" href="#">Sign In</a></li>
            <li class="nav-item mr-2"><a class="nav-link" href="#">Register</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="container-fluid"> {% block content %} {% endblock %} </div>
  <div class="py-5 text-center bg-light" style="	background-size: cover;	background-position: top left;	background-repeat: repeat;">
    <div class="container">
      <div class="row" style="">
        <div class="mx-auto col-md-6 col-10 bg-white p-5" style="	box-shadow: 0px 0px 4px  black;">
          <h1 class="mb-4">Register</h1>
          <form>
            <div class="form-group"> <input type="email" class="form-control" placeholder="Enter email" id="form9"> </div>
            <div class="form-group mb-3">
              <input type="password" class="form-control" placeholder="Password" id="form10"> <small class="form-text text-muted text-right">
              </small> </div> <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 bg-dark text-light">
    <div class="container">
      <div class="row">
        <div class="col-md-15 text-left">
          <p class="mt-2 mb-10">© 2018 Sinar Perak</p>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
  </div>
</body>

</html>