<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>HALO BOSKU APA KABARR!!!!</title>
</head>
<body>
	<h1>HALO BOSKU APA KABAR SEMUANYA </h1>
              <form action="" method="POST" class="text-danger">
                <a>STATUS KAMU LAGI APA</a>
                <div class="form-group row" class = "text-info"> {% csrf_token %} {{form}} </div>
                <br>
                <div class="form-group mx-4">
                  <button type="submit" class="btn btn-primary bg-info">Submit</button>
                
                </div>
              </form>
              {% for Status in Statusnya %}
    <div class="container">
      <div class="row">
        <div class="p-3 align-self-center col-md-4">
          <div class="card">
            <div class="card-block p-5">
              <div class = "card-header">{{Status.Status_kamu}}</div>
              </div>
            </div>
            </div>
          </div>
        </div>
  {% endfor %}

        </body>  	
</html>
