<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css"> </head>

<body>{%load static%}
  <nav class="navbar navbar-expand-md navbar" style="background-image: url(&quot;https://image.ibb.co/hrjjRp/bata.jpg&quot;);">
    <a class="btn btn-default navbar-btn" href="/home">Home</a>
    <a class="btn btn-default navbar-btn" href="/profile">About</a>
    <a class="btn btn-default navbar-btn" href="/contact">Contact</a>
    <a class="btn btn-default navbar-btn" href="/keahlian">Special</a>
    <a class="btn btn-default navbar-btn" href="/form">Sign Up</a>
    <a class="btn btn-default navbar-btn" href="/jadwalku">Jadwal Saya</a>
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto justify-content-between align-self-end">
          <img class="img-fluid d-block float-right" src="https://image.ibb.co/mL24Rp/bape.png" style="background-image: url('https://image.ibb.co/hrffz9/putih.jpg');"> </ul>
      </div>
    </div>
  </nav>
</body>

</html>