<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
  <title>Kempuan idris</title>
</head>

<body>
  <div> {%include 'Nav.html'%} </div>
  <div class="py-5 text-center" style="background-image: url('https://image.ibb.co/hrffz9/putih.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Special Ability</h1>
          <p class="lead">&nbsp;</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 p-4">
          <img class="python" src="https://image.ibb.co/dNYaz9/opengraph_icon_200x200.png">
          <p class="my-4">
            <i>Python</i>
          </p>
          <p>From 1-10
            <br>my skill 7</p>
        </div>
        <div class="col-md-4 p-4">
          <img src="https://image.ibb.co/bNGOmp/1200px_Java_programming_language_logo_svg.png" width="250" class="java" height="250">
          <p class="my-4">
            <i>Java</i>
          </p>
          <p>from 1 - 10
            <br>my skill 6</p>
        </div>
        <div class="col-md-4 p-4">
          <img class="leadership" src="https://image.ibb.co/kRseRp/images.png">
          <p class="my-4">
            <i>Leadership</i>
          </p>
          <p>from 1 - 10
            <br>my skill 8</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>