<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Regis Website</title>
</head>

<body>
  <div> {%include 'Nav.html'%} </div>
  <div class="py-5 bg-primary text-white" style="background-image: url('https://image.ibb.co/diDCHU/image_43413649_stussy_wallpapers.jpg');background-position:center center;" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Registrasi</h1>
          <p>We would love to hear from you</p>
          <form>
            <div class="form-row">
              <label>
                <b>ISI NAMA</b>
              </label>
              <input type="text" class="form-control" placeholder="Name"> </div>
            <div class="form-row">
              <label>
                <b>Tanggal Lahir</b>
              </label>
              <input type="date" class="form-control" value="2018-09-21"> </div>
            <div class="form-row">
              <label>
                <b>Alamat Email</b>
              </label>
              <input type="email" class="form-control" placeholder="blala@example.com"> </div>
            <div class="form-row">
              <label>
                <b>Username</b>
              </label>
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username"> </div>
            <div class="form-row">
              <label for="inputPassword5">Password</label>
              <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"> </div>
            <div class="form-row">
              <label>
                <b>Confirmation Password</b>
              </label>
              <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"> </div>
              <button type="submit" class="btn btn-secondary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="lead">Sign up to our newsletter for the latest news</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>