<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



  <title>REGISTRASI</title>
</head>

<body style="background-image: url('https://image.ibb.co/gc6g6p/dunia.jpg');" >

  <div class="py-5 text-center w-100 h-100" style="background-image: url(&quot;https://image.ibb.co/gc6g6p/dunia.jpg&quot;); background-size: cover;">
    <title>Add Registration</title>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-white text-center">YUK DI ISI</h1>
          </div>
        </div>
      </div>
      <div class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-2 ">
              <div class="col-md-1"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form action="" method="POST" id = "post-form" class="text-white" onsubmit="required">
                <div class="form-group row"> {% csrf_token %} {{form}} </div>
                <br>
                <div class="form-group mx-4">
                  <button id = "button" type="submit" class="btn btn-primary bg-info">Submit</button>
                </div>
              </form>
              <div id="listsub" class="card" style="margin:auto; margin-top: 5%; padding: 5%; background-color: rgba(0, 0, 0, 0.75); color: white !important;">
                    <h3 style="text-align: center;">Subscriber List</h3>
                </div>
              </div>
          </div>
        </div><!-- 
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" style=""></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" style=""></script> -->
      </div>
    </div>
  </div>
  <script type="text/javascript">
  var container = document.getElementById("listsub");
  $.ajax({
    type = 'GET'
    url:"webservice",
    dataType: 'json',
    success: function(result){
      
      console.log(result);
      ambildata(result);


    }

  })

  function ambildata(data){
    htmlString = "<ul>";
    console.log(data.length)
    for (i=0;i<data.length;i++){
      htmlString+="<li>"+ " "+ "<button class='btn btn-secondary' onclick='hapusdata("+data[i].id + ")'>" + "Unsubscribe" + "</button>" + " "+ data[i].nama+" || " + data[i].email +  "</li>" +"<br>" 

    }
    container.insertAdjacentHTML('beforeend', htmlString+"</ul>")
  }

  function hapusdata(id){
    console.log(id)
    $.ajax({
      method:"POST",
      url: "{% url 'unsub' %}",
      data:{'id':id},
      success:function(){
        alert("Berhasil Unsubscribe")
        window.location.reload();
      }

    })
  }
</script>

  <script type="text/javascript">
  var emailacc = false
  
  var email = document.getElementById('post-text2');
  var timeout = null;

  email.onkeyup = function(e){
    clearTimeout(timeout);
    timeout = setTimeout(function(){
      console.log('Input text:', email.value);
      $.ajax({
        method: "POST",
        url: "{% url 'validate_email' %}",
        data:{
          'email': email.value
        },
        dataType: 'json',
        success: function(data){
          emailacc = false;
          console.log(data)
          if(data.is_taken){
            alert("Email sudah terdaftar, silahkan mendaftar dengan Email lain");
            email.value ="";
          }
          else{
            if(data.is_email_valid == true){
              emailacc = true;
              alert("Email Tersedia!");
              console.log("emailacc" + emailacc);

            }
          
          }
        }


      })


    }, 1000);
  }
</script>

<!--Regist Function-->

<script type="text/javascript">

  $(document).ready(function (){
        validate();
        $('#post-text1, #post-text2, #post-text3').change(validate);
  });

  function validate(){
    console.log(emailacc)
    if(emailacc==true && $('#post-text2').val().length >0 && $('#post-text1').val().length > 0 && $('#post-text3').val().length >0 ){
      document.getElementById('button').disabled = false;

    }
    else{
      document.getElementById('button').disabled = true;
    }
  }

  
  function required(){
    event.preventDefault();
    console.log("form submitted!")  // sanity check
    regist();
  }
  
  function regist(){
    console.log("regist func is working")
    
    $.ajax({
      type:'POST',
      url:"{% url 'Member' %}",
      data:{ 
        nama: $('#post-text1').val(),
        email: $('#post-text2').val(),
        password: $('#post-text3').val(),
      },
      success: function(subs){
        console.log(subs)
        alert("telah mendaftar jadi subscriber")
        window.location.reload();
      },
      error: function(error){
        console.log(error)
      }

    })
    
  }
</script>


</body>

</html>