<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>HALO BOSKU APA KABARR!!!!</title>
</head>
<body>
  <button> <a class="btn btn-default navbar-btn" href="/Profile">About</a></button>
	<h1>HALO BOSKU APA KABAR SEMUANYA </h1>
              <form action="" method="POST" class="text-danger">
                <div class="form-group row"> {% csrf_token %} {{form}} </div>
                <br>
                <div class="form-group mx-4">
                  <button id = "id_Submit" type="submit" class="btn btn-primary bg-info">Submit</button>
                  <a id ="id_Hapus" type="hapus" href="deletejadwal/" class="btn btn-primary bg-info">Hapus</a>
                
                </div>
              </form>
              {% for Status in Statusnya %}
    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <div class="card text-center">
            
              <div class = "card-header"></div>
              <div class = "card-body">
                <p>{{Status.Status_Kamu}}</p>
                
              </div>
            </div>
          </div>
        </div>
          {% endfor %}
      </div>


        </body>  	
</html>
